<div id="signup">
  <h1>Sign Up for Free</h1>

  <form action="/" method="post" [formGroup]="form">

    <div class="top-row">
      <div class="field-wrap">
        <mat-form-field>
          <label *ngIf="isEmpty(form.get('firstName'))">
            First Name<span class="req">*</span>
          </label>
          <input matInput type="text" formControlName="firstName" required autocomplete="off" />
          <mat-error class="error" *ngIf="!isValid(form.get('firstName'))">
            {{getErrorMessage(form.get('firstName'))}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="field-wrap">
        <mat-form-field>
          <label *ngIf="isEmpty(form.get('lastName'))">
            Last Name<span class="req">*</span>
          </label>
          <input matInput type="text" formControlName="lastName" required autocomplete="off" />
          <mat-error class="error" *ngIf="!isValid(form.get('lastName'))">
            {{getErrorMessage(form.get('lastName'))}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="field-wrap">
      <mat-form-field>
        <label *ngIf="isEmpty(form.get('email'))">
          Email Address<span class="req">*</span>
        </label>
        <input matInput type="email" formControlName="email" required autocomplete="off" />
        <mat-error class="error" *ngIf="!isValid(form.get('email'))">
          {{getErrorMessage(form.get('email'))}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-wrap">
      <mat-form-field>
        <label *ngIf="isEmpty(form.get('password'))">
          Set A Password<span class="req">*</span>
        </label>
        <input matInput type="password" formControlName="password" required autocomplete="off" />
        <mat-error class="error" *ngIf="!isValid(form.get('password'))">
          {{getErrorMessage(form.get('password'))}}
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit" class="button button-block">Get Started</button>

  </form>

</div>
